server:
  port: 8082

spring:
  application:
    name: order-service

  # PostgreSQL Configuration
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://localhost:5433/order_db?options=-c%20timezone=Asia/Kolkata}
    username: ${SPRING_DATASOURCE_USERNAME:ecommerce_user}
    password: ${SPRING_DATASOURCE_PASSWORD:ecommerce_pass}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 2
      connection-timeout: 30000

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

# Product Service URL for internal communication
product:
  service:
    url: ${PRODUCT_SERVICE_URL:http://localhost:8081}

# Actuator
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always

# Swagger
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html

logging:
  level:
    com.ecommerce: DEBUG
